@font-face {
  font-family: RightGrotesk;
  font-display: swap;
  src: url(../fonts/RightGrotesk-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: RightGrotesk;
  font-display: swap;
  src: url(../fonts/RightGrotesk-CompactBlack.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: RightGrotesk;
  font-display: swap;
  src: url(../fonts/RightGrotesk-TightBlack.woff2) format("woff2");
  font-weight: 900;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1.1;
  font-family: RightGrotesk,sans-serif;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: RightGrotesk,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
address {
  font-style: normal
}
summary::-webkit-details-marker {
  display: none
}
summary {
  list-style: none
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 1.25rem 1fr minmax(auto,53.75rem) 1fr 1.25rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
[class*=__container] {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
  margin-inline: auto
}
body {
  background-color: #861083
}
body::-webkit-scrollbar {
  width: 6px;
  height: 12px
}
body::-webkit-scrollbar-track {
  background-color: #b7b7b7
}
body::-webkit-scrollbar-thumb {
  background-color: #861083
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #92258e
}
body * {
  scrollbar-width: thin;
  scrollbar-color: #861083 #b7b7b7
}
.title-main {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1.875rem
}
.sec-org {
  background-color: #f87311
}
.sec-org h2 {
  color: #fff
}
.sec-prp {
  background-color: #861083
}
.sec-prp h2 {
  color: #fff
}
.sec-wht {
  background-color: #fff
}
.sec-wht h2 {
  color: #861083
}
.clr-pr {
  color: #861083
}
.btn {
  display: grid;
  place-items: center;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  padding: .3125rem .625rem;
  transition: background-color .3s ease,box-shadow .3s ease
}
.btn--one {
  background-color: #fcf118;
  box-shadow: 0 0 22px 0 rgba(252,241,24,.6)
}
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}
.header.home-header {
  position: absolute
}
.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-inline: auto
}
.header__logo {
  z-index: 5
}
.header__logo img {
  height: auto
}
.header__contacts {
  position: relative;
  z-index: 5
}
.menu {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  background: rgba(90,0,88,.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
  padding-top: 7.5rem
}
.menu-open .menu {
  opacity: 1;
  pointer-events: all
}
.menu__list {
  width: 100%
}
.menu__item {
  overflow: hidden
}
.menu-open .menu__item:nth-child(1) .menu__link-wr {
  transition-delay: .2s
}
.menu-open .menu__item:nth-child(2) .menu__link-wr {
  transition-delay: .23s
}
.menu-open .menu__item:nth-child(3) .menu__link-wr {
  transition-delay: .26s
}
.menu-open .menu__item:nth-child(4) .menu__link-wr {
  transition-delay: .29s
}
.menu-open .menu__item:nth-child(5) .menu__link-wr {
  transition-delay: .32s
}
.menu-open .menu__item:nth-child(6) .menu__link-wr {
  transition-delay: .35s
}
.menu-open .menu__item:nth-child(7) .menu__link-wr {
  transition-delay: .39s
}
.menu__link-wr {
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%);
  transition: color .3s ease 0s,-webkit-transform .35s ease 0s;
  transition: transform .35s ease 0s,color .3s ease 0s;
  transition: transform .35s ease 0s,color .3s ease 0s,-webkit-transform .35s ease 0s
}
.menu-open .menu__link-wr {
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.menu__link {
  position: relative;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  transition: color .3s ease 0s,-webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s,color .3s ease 0s;
  transition: transform .3s ease 0s,color .3s ease 0s,-webkit-transform .3s ease 0s
}
.icon-menu {
  position: relative;
  z-index: 5;
  background-color: #f87311;
  box-shadow: 0 0 22px 0 rgba(255,141,58,.8);
  aspect-ratio: 1/1;
  display: grid;
  place-items: center
}
.icon-menu__item {
  display: block;
  position: relative;
  width: 1.5rem;
  height: 1.125rem;
  z-index: 5
}
.icon-menu__item span,
.icon-menu__item::after,
.icon-menu__item::before {
  content: "";
  transition: all .3s ease 0s;
  left: 0;
  position: absolute;
  width: 100%;
  height: .125rem;
  background-color: #fff
}
.icon-menu__item::before {
  top: 0
}
.icon-menu__item::after {
  bottom: 0
}
.icon-menu__item span {
  width: 67%;
  top: calc(50% - .0625rem)
}
.menu-open .icon-menu__item span {
  width: 0
}
.menu-open .icon-menu__item::before {
  top: calc(50% - .0625rem);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.menu-open .icon-menu__item::after {
  bottom: calc(50% - .0625rem);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.footer {
  background-color: #f87311
}
.footer__btm,
.footer__top {
  display: grid;
  gap: 3.75rem
}
.footer__logo img {
  width: 100%;
  height: auto
}
.footer__list {
  display: flex;
  gap: .6875rem
}
.footer__item {
  width: 100%
}
.footer__social {
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  background-color: rgba(255,255,255,.1);
  transition: background-color .3s ease
}
.footer__social img {
  width: 100%;
  height: auto
}
.footer__btm {
  font-weight: 500
}
.footer__link,
.footer__rights {
  color: rgba(255,255,255,.7)
}
.footer__links {
  display: flex;
  gap: 1.25rem
}
.footer__link {
  transition: color .3s ease
}
.hero {
  position: relative
}
.hero__container {
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  display: flex;
  justify-content: center
}
.hero__about {
  background-color: #861083;
  width: 100%;
  max-width: 26.25rem;
  text-align: center
}
.hero__about p {
  color: #fff;
  font-weight: 500;
  font-size: 1.375rem
}
.what__items {
  display: grid;
  -webkit-column-gap: 3.75rem;
  -moz-column-gap: 3.75rem;
  column-gap: 3.75rem
}
.what__item {
  display: grid;
  align-items: center;
  gap: 1.25rem;
  grid-template-columns: auto 1fr;
  color: #fff;
  font-weight: 500
}
.what__icon {
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px 0 rgba(134,16,131,.35);
  background-color: #861083;
  aspect-ratio: 1/1
}
.what__icon img {
  width: 100%;
  height: auto
}
.advantages__items {
  display: grid
}
.advantages__item {
  font-weight: 500
}
.advantages__icon {
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px 0 rgba(134,16,131,.35);
  background-color: #861083;
  aspect-ratio: 1/1
}
.advantages__icon img {
  width: 100%;
  height: auto;
  max-width: 50%
}
.influencers__list {
  display: grid;
  margin-bottom: 1.875rem
}
.influencers__item {
  overflow: hidden;
  display: flex;
  flex-direction: column
}
.influencers__avatar {
  aspect-ratio: 200/233
}
.influencers__body {
  flex: 1;
  background-color: #fff
}
.influencers__title-item {
  margin-bottom: .25rem
}
.influencers__links {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: .4375rem
}
.influencers__link {
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #861083;
  transition: background-color .3s ease
}
.influencers__link img {
  width: 100%;
  max-width: 67%;
  height: auto
}
.influencers__body,
.team__body {
  margin-top: -2.25rem
}
.influencers__title-item,
.team__name {
  font-weight: 900;
  color: #f87311
}
.influencers__name,
.team__position {
  font-weight: 500;
  opacity: .7
}
.partners__list {
  display: grid;
  gap: 1.1875rem
}
.partners__item {
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  background-color: rgba(255,255,255,.1)
}
.partners__item img {
  height: auto;
  width: 100%;
  max-width: 60%
}
.team__list {
  display: grid;
  gap: 1.1875rem
}
.team__item {
  display: flex;
  flex-direction: column
}
.team__body {
  flex: 1;
  background-color: #861083
}
.team__name {
  margin-bottom: .625rem
}
.team__position {
  color: #fff
}
.blog__slider {
  overflow: visible!important
}
.blog__slider .swiper-scrollbar {
  height: .1875rem;
  background-color: rgba(255,255,255,.2);
  cursor: -webkit-grab;
  cursor: grab
}
.blog__slider .swiper-scrollbar .swiper-scrollbar-drag {
  height: 100%;
  box-shadow: 0 4px 8px 0 #ff9446;
  background: #ff8b35
}
.blog__wrapper {
  margin-bottom: 1.25rem
}
.item-blog {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(115,0,112,.15);
  transition: box-shadow .3s ease;
  display: flex;
  flex-direction: column;
  min-height: 100%
}
.item-blog__img img {
  aspect-ratio: 328/200
}
.item-blog__body {
  flex: 1;
  padding-top: .625rem;
  display: flex;
  flex-direction: column
}
.item-blog__title {
  font-weight: 900;
  font-size: 1.875rem;
  transition: color .3s ease;
  margin-bottom: .625rem
}
.item-blog__info {
  flex: 1;
  font-size: 1.125rem;
  font-weight: 500;
  color: #5d5d5d;
  margin-bottom: 1.25rem
}
.item-blog__info p {
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal
}
.item-blog__footer {
  font-weight: 500;
  font-size: .9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center
}
.item-blog__time {
  opacity: .3
}
.item-blog__more {
  color: #861083;
  opacity: .4;
  transition: opacity .3s ease
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:30.06125em) {
  .header__contacts {
    max-width: 14.1875rem
  }
  .menu__link:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2.8125rem;
    background-image: url(../img/icons/arr-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.875rem;
    height: 2.0625rem;
    opacity: 0;
    transition: opacity .3s ease
  }
  .hero__about {
    padding: 1.25rem 1.5rem
  }
  .influencers__list {
    gap: 1.375rem
  }
  .influencers__links {
    max-width: 8.375rem
  }
  .influencers__link {
    max-width: 2.5rem
  }
  .influencers__body,
  .team__body {
    clip-path: polygon(66% 0,66% 34px,100% 0,100% 100%,0 100%,0 0)
  }
  .partners__list {
    grid-template-columns: repeat(4,1fr)
  }
}
@media (min-width:34.43625em) {
  .influencers__more {
    display: grid;
    grid-template-columns: repeat(4,1fr)
  }
  .influencers__btn {
    grid-column: 2/4
  }
}
@media (min-width:37.56125em) {
  .team__list {
    grid-template-columns: repeat(4,1fr)
  }
}
@media (min-width:40.68625em) {
  .footer__btm,
  .footer__top {
    grid-template-columns: 12.5rem 1fr 16.875rem
  }
  .footer__top {
    margin-bottom: 1.125rem
  }
  .footer__list {
    justify-content: flex-end;
    grid-column: 3/4
  }
  .footer__btm {
    font-size: 1.125rem
  }
  .footer__links {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-column: 3/4
  }
  .hero__phone {
    display: none!important
  }
  .advantages__items {
    grid-template-columns: repeat(4,1fr)
  }
}
@media (min-width:40.68625rem) {
  .hero__video.video-hero-mb {
    display: none
  }
}
@media (min-width:46.93625em) {
  .what__items {
    grid-template-columns: 1fr 1fr
  }
  .influencers__list {
    grid-template-columns: repeat(4,1fr)
  }
}
@media (min-width:48.06125em) {
  .advantages,
  .blog,
  .influencers,
  .partners,
  .team {
    margin-top: -8.25rem
  }
  .btn {
    min-height: 3.75rem
  }
  .header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0)
  }
  .menu__list {
    max-width: 114.375rem;
    margin-inline: auto
  }
  .hero__container {
    bottom: 3vw
  }
  .what {
    clip-path: polygon(20% 13%,80% 13%,100% 0,100% 87%,0 100%,0 0);
    margin-top: -9.375rem
  }
}
@media (min-width:51.31125em) {
  .menu {
    background-image: url(../img/bgs/man-hi-menu.webp);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: 90% bottom
  }
}
@media (min-width:56.25em) {
  .advantages,
  .blog,
  .influencers,
  .partners,
  .team {
    padding-top: 11.25rem
  }
  .advantages,
  .blog,
  .influencers,
  .partners,
  .team {
    padding-bottom: 14.375rem
  }
  .header__logo img {
    width: 12.5rem
  }
  .icon-menu {
    width: 3.75rem
  }
  .footer {
    padding-top: 6.25rem
  }
  .footer {
    padding-bottom: 6.25rem
  }
  .what {
    padding-bottom: 14.375rem
  }
  .what__items {
    row-gap: 1.875rem
  }
  .what__item {
    font-size: 1.375rem
  }
  .what__icon {
    padding: 1.25rem
  }
  .what__icon {
    width: 6.25rem
  }
  .advantages__item {
    font-size: 1.125rem
  }
  .advantages__icon {
    margin-bottom: 1.25rem
  }
  .influencers__link {
    margin-top: 1rem
  }
  .influencers__body,
  .team__body {
    padding: 1rem
  }
  .influencers__title-item,
  .team__name {
    font-size: 1.875rem
  }
  .influencers__name,
  .team__position {
    font-size: 1.125rem
  }
}
@media (min-width:64.06125em) {
  .advantages,
  .partners,
  .team {
    clip-path: polygon(0 130px,100% 0,100% 100%,0 100%)
  }
  .blog,
  .influencers {
    clip-path: polygon(0 0,100% 130px,100% 100%,0 100%)
  }
}
@media (min-width:90.06125em) {
  .title-main {
    font-size: 9rem
  }
  .advantages__items {
    gap: 2.5rem
  }
}
@media (min-width:93.81125em) {
  .menu__list {
    padding: 0 70px
  }
}
@media (min-width:90em) {
  .menu {
    padding-left: 6.25rem
  }
  .menu {
    padding-right: 6.25rem
  }
  .menu {
    padding-bottom: 6.25rem
  }
  .what {
    padding-top: 14.375rem
  }
}
@media (min-width:120em) {
  [class*=__container] {
    max-width: 71.25rem
  }
  .header__wrapper {
    max-width: 116.875rem
  }
  .menu__link {
    font-size: 8.125rem
  }
}
@media (max-width:20em) {
  .advantages,
  .blog,
  .influencers,
  .partners,
  .team {
    padding-top: 5.9375rem
  }
  .advantages,
  .blog,
  .influencers,
  .partners,
  .team {
    padding-bottom: 5.9375rem
  }
  .header__logo img {
    width: 10.4375rem
  }
  .icon-menu {
    width: 3.125rem
  }
  .footer {
    padding-top: 3.75rem
  }
  .footer {
    padding-bottom: 3.75rem
  }
  .what {
    padding-bottom: 5.9375rem
  }
  .what__items {
    row-gap: 1.25rem
  }
  .what__item {
    font-size: 1.125rem
  }
  .what__icon {
    padding: .8125rem
  }
  .what__icon {
    width: 5rem
  }
  .advantages__items {
    gap: 1.25rem
  }
  .advantages__item {
    font-size: 1rem
  }
  .advantages__icon {
    margin-bottom: 1rem
  }
  .influencers__link {
    margin-top: .8125rem
  }
  .influencers__body,
  .team__body {
    padding: .75rem
  }
  .influencers__title-item,
  .team__name {
    font-size: 1.5rem
  }
  .influencers__name,
  .team__position {
    font-size: 1rem
  }
}
@media (max-width:90.06125em) {
  [class*=__container] {
    max-width: 56.25rem
  }
  .header__wrapper {
    max-width: 90rem
  }
}
@media (orientation:portrait)and (max-width:64.06125em) {
  .menu {
    background-image: none
  }
}
@media (max-width:48.06125em) {
  .advantages,
  .blog,
  .influencers,
  .partners,
  .team {
    margin-top: -2.375rem
  }
  .advantages,
  .partners,
  .team {
    clip-path: polygon(0 35px,100% 0,100% 100%,0 100%)
  }
  .blog,
  .influencers {
    clip-path: polygon(0 0,100% 35px,100% 100%,0 100%)
  }
  .header__logo {
    position: relative
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
  .hero__about {
    max-width: 100%
  }
  .what {
    padding-top: 3.75rem;
    margin-top: -.125rem
  }
}
@media (max-width:40.68625em) {
  .footer__btm,
  .footer__top {
    grid-template-columns: 100%
  }
  .footer__top {
    margin-bottom: 2.5rem
  }
  .footer__btm {
    font-size: 1.75rem
  }
  .footer__rights {
    order: 2
  }
  .footer__links {
    order: 1;
    flex-direction: column
  }
  .hero__container {
    bottom: 0;
    padding-bottom: 1.25rem;
    flex-direction: column;
    row-gap: 1.25rem
  }
  .advantages__items {
    grid-template-columns: repeat(2,1fr)
  }
  .advantages__icon {
    max-width: 50%
  }
}
@media (max-width:40.68625rem) {
  .hero__video.video-hero-pc {
    display: none
  }
}
@media (max-width:37.56125em) {
  .team__list {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:34.43625em) {
  .influencers__list {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:30.06125em) {
  .btn {
    min-height: 4.375rem
  }
  .menu {
    padding-left: 1.25rem
  }
  .menu {
    padding-right: 1.25rem
  }
  .menu {
    padding-bottom: 1.25rem
  }
  .menu__list {
    margin-bottom: 2.5rem
  }
  .menu__link {
    font-size: 4.75rem
  }
  .hero__about {
    padding: 1.25rem
  }
  .influencers__list {
    gap: 1.125rem
  }
  .influencers__body,
  .team__body {
    clip-path: polygon(66% 0,66% 26px,100% 0,100% 100%,0 100%,0 0)
  }
  .partners__list {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:22.56125em) {
  .title-main {
    font-size: 4.6875rem
  }
}
@media (min-width:90.06125em)and (max-width:120em) {
  [class*=__container] {
    max-width: clamp(56.25rem ,11.1272493842rem + 50.1022921799vw ,71.25rem)
  }
  .header__wrapper {
    max-width: clamp(90rem ,9.1550718133rem + 89.7666068223vw ,116.875rem)
  }
  .menu__link {
    font-size: clamp(6rem ,-.3923896706rem + 7.0978247255vw ,8.125rem)
  }
}
@media (min-width:20em)and (max-width:56.25em) {
  .advantages,
  .blog,
  .influencers,
  .partners,
  .team {
    padding-top: clamp(5.9375rem ,3.0064655172rem + 14.6551724138vw ,11.25rem)
  }
  .advantages,
  .blog,
  .influencers,
  .partners,
  .team {
    padding-bottom: clamp(5.9375rem ,1.2823275862rem + 23.275862069vw ,14.375rem)
  }
  .header__logo img {
    width: clamp(10.4375rem ,9.2995689655rem + 5.6896551724vw ,12.5rem)
  }
  .icon-menu {
    width: clamp(3.125rem ,2.7801724138rem + 1.724137931vw ,3.75rem)
  }
  .footer {
    padding-top: clamp(3.75rem ,2.3706896552rem + 6.8965517241vw ,6.25rem)
  }
  .footer {
    padding-bottom: clamp(3.75rem ,2.3706896552rem + 6.8965517241vw ,6.25rem)
  }
  .what {
    padding-bottom: clamp(5.9375rem ,1.2823275862rem + 23.275862069vw ,14.375rem)
  }
  .what__items {
    row-gap: clamp(1.25rem ,.9051724138rem + 1.724137931vw ,1.875rem)
  }
  .what__item {
    font-size: clamp(1.125rem ,.9870689655rem + .6896551724vw ,1.375rem)
  }
  .what__icon {
    padding: clamp(.8125rem ,.5711206897rem + 1.2068965517vw ,1.25rem)
  }
  .what__icon {
    width: clamp(5rem ,4.3103448276rem + 3.4482758621vw ,6.25rem)
  }
  .advantages__item {
    font-size: clamp(1rem ,.9310344828rem + .3448275862vw ,1.125rem)
  }
  .advantages__icon {
    margin-bottom: clamp(1rem ,.8620689655rem + .6896551724vw ,1.25rem)
  }
  .influencers__link {
    margin-top: clamp(.8125rem ,.7090517241rem + .5172413793vw ,1rem)
  }
  .influencers__body,
  .team__body {
    padding: clamp(.75rem ,.6120689655rem + .6896551724vw ,1rem)
  }
  .influencers__title-item,
  .team__name {
    font-size: clamp(1.5rem ,1.2931034483rem + 1.0344827586vw ,1.875rem)
  }
  .influencers__name,
  .team__position {
    font-size: clamp(1rem ,.9310344828rem + .3448275862vw ,1.125rem)
  }
}
@media (max-width:64.06125em)and (min-width:48.06125em) {
  .advantages,
  .partners,
  .team {
    clip-path: polygon(0 80px,100% 0,100% 100%,0 100%)
  }
  .blog,
  .influencers {
    clip-path: polygon(0 0,100% 80px,100% 100%,0 100%)
  }
}
@media (min-width:24.37375em)and (max-width:90.06125em) {
  .title-main {
    font-size: clamp(6.375rem ,5.4009776403rem + 3.9961941009vw ,9rem)
  }
}
@media (max-width:24.37375em)and (min-width:22.56125em) {
  .title-main {
    font-size: 5.625rem
  }
}
@media (min-width:30.06125em)and (max-width:48.06125em) {
  .btn {
    min-height: clamp(3.75rem ,5.4187934028rem + -3.4722222222vw ,4.375rem)
  }
}
@media (min-width:30.06125em)and (max-width:90em) {
  .menu {
    padding-left: clamp(1.25rem ,-1.2576640737rem + 8.3418489708vw ,6.25rem)
  }
  .menu {
    padding-right: clamp(1.25rem ,-1.2576640737rem + 8.3418489708vw ,6.25rem)
  }
  .menu {
    padding-bottom: clamp(1.25rem ,-1.2576640737rem + 8.3418489708vw ,6.25rem)
  }
}
@media (min-width:30.06125em)and (max-width:90.06125em) {
  .menu__link {
    font-size: clamp(4.75rem ,4.1237239583rem + 2.0833333333vw ,6rem)
  }
  .advantages__items {
    gap: clamp(1.875rem ,1.5618619792rem + 1.0416666667vw ,2.5rem)
  }
}
@media (max-width:48.06125em)and (min-width:40.68625em) {
  .hero__container {
    bottom: -3vw
  }
}
@media (min-width:48.06125em)and (max-width:90em) {
  .what {
    padding-top: clamp(12.5rem ,10.3512749247rem + 4.4708056392vw ,14.375rem)
  }
}
@media (min-width:20em)and (max-width:30.06125em) {
  .advantages__items {
    gap: clamp(1.25rem ,.0076096409rem + 6.2119517953vw ,1.875rem)
  }
}
@media (max-width:46.93625em)and (min-width:34.43625em) {
  .influencers__list {
    grid-template-columns: repeat(3,1fr)
  }
}
@media (any-hover:hover) {
  .btn--one:hover {
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(252,241,24,.3)
  }
  .menu__link:hover {
    -webkit-transform: translate(50px,0);
    transform: translate(50px,0);
    color: #fcf118
  }
  .menu__link:hover::before {
    opacity: 1
  }
  .footer__social:hover {
    background-color: #861083
  }
  .footer__link:hover {
    color: #861083
  }
  .influencers__link:hover {
    background-color: #f87311
  }
  .item-blog:hover {
    box-shadow: 0 5px 40px 0 rgba(79,0,76,.5)
  }
  .item-blog__body:hover .item-blog__title {
    color: #861083
  }
  .item-blog__body:hover .item-blog__more {
    opacity: 1;
    text-decoration: underline
  }
}
@media (any-hover:none) {
  .icon-menu__item {
    cursor: default
  }
}