@font-face {
	font-family: RightGrotesk;
	font-display: swap;
	src: url("../fonts/RightGrotesk-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: RightGrotesk;
	font-display: swap;
	src: url("../fonts/RightGrotesk-CompactBlack.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: RightGrotesk;
	font-display: swap;
	src: url("../fonts/RightGrotesk-TightBlack.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
