// Medium - font-weight 500
// CompactBlack - font-weight 700
// TightBlack - font-weight 900

[class*="__container"] {
  padding-left: toRem(20);
  padding-right: toRem(20);
  width: 100%;
  margin-inline: auto;
  @include adaptiveValue("max-width", 1140, 900,0,1920,1440.98);
}

body {
  background-color: $purple;
  // Webkit-браузеры (Chrome, Safari, Edge)
  &::-webkit-scrollbar {
    width: 6px; /* Ширина вертикального скроллбара */
    height: 12px; /* Высота горизонтального скроллбара */
  }
  
  &::-webkit-scrollbar-track {
    // Цвет фона дорожки скроллбара
    background-color: #B7B7B7; 
    // Закругленные углы дорожки скроллбара
    // border-radius: 0px; 
  }
  
  &::-webkit-scrollbar-thumb {
    // Цвет ползунка скроллбара 
    background-color: #861083;
    // Закругленные углы ползунка
    // border-radius: 3px;
    // Отступ между ползунком и дорожкой
    // border: 1px solid #00074B;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    // Цвет ползунка при наведении 
    background-color: #92258e;
  }

  // Firefox
  * {
    // Ширина скроллбара: thin (тонкий) или auto (стандартный)
    scrollbar-width: thin;
    // Цвета ползунка и дорожки скроллбара
    scrollbar-color: #861083 #B7B7B7;
  }
}

.page {
  background-color: #fff;
}

%sectionPddTB {
  // @include adaptiveValue("padding-top", 100, 60);
  // @include adaptiveValue("padding-bottom", 100, 60);
  // @include adaptiveValue("padding-top", 180, 95);
  // @include adaptiveValue("padding-bottom", 230, 95);
//   @media (min-width:$mobile){
//     margin-top: toRem(-132); 
//  }
//  @media (max-width:$mobile){
//      margin-top: toRem(-38);
//  }
}

.cut-ltr,
.cut-rtl {
  @include adaptiveValue("padding-top", 180, 95);
  // @include adaptiveValue("padding-bottom", 230, 95);
  @media (min-width:$mobile){
    margin-top: toRem(-132); 
 }
 @media (max-width:$mobile){
     margin-top: toRem(-38);
 }
}

.cut-ltr {
  @media (min-width:toEm(1024.98)) {
    clip-path: polygon(0 130px, 100% 0, 100% 100%, 0 100%);
  }
  @media (max-width:toEm(1024.98)) and (min-width:$mobile) {
    clip-path: polygon(0 80px, 100% 0, 100% 100%, 0 100%);
  }
  @media (max-width:$mobile) {
    clip-path: polygon(0 35px, 100% 0, 100% 100%, 0 100%);
  }
}
.cut-rtl {
  @media (min-width:toEm(1024.98)) {
    clip-path: polygon(0 0%, 100% 130px, 100% 100%, 0 100%);
  }
  @media (max-width:toEm(1024.98)) and (min-width:$mobile) {
    clip-path: polygon(0 0%, 100% 80px, 100% 100%, 0 100%);
  }
  @media (max-width:$mobile) {
    clip-path: polygon(0 0%, 100% 35px, 100% 100%, 0 100%);
  }
}

.pb-sm {
  @include adaptiveValue("padding-bottom", 100, 60);
}
.pb-big {
  @include adaptiveValue("padding-bottom", 230, 95);
}

// %left-Right-up {
//   @media (min-width:toEm(1024.98)) {
//     clip-path: polygon(0 130px, 100% 0, 100% 100%, 0 100%);
//   }
//   @media (max-width:toEm(1024.98)) and (min-width:$mobile) {
//     clip-path: polygon(0 80px, 100% 0, 100% 100%, 0 100%);
//   }
//   @media (max-width:$mobile) {
//     clip-path: polygon(0 35px, 100% 0, 100% 100%, 0 100%);
//   }
// }
// %left-Right-dwn {
//   @media (min-width:toEm(1024.98)) {
//     clip-path: polygon(0 0%, 100% 130px, 100% 100%, 0 100%);
//   }
//   @media (max-width:toEm(1024.98)) and (min-width:$mobile) {
//     clip-path: polygon(0 0%, 100% 80px, 100% 100%, 0 100%);
//   }
//   @media (max-width:$mobile) {
//     clip-path: polygon(0 0%, 100% 35px, 100% 100%, 0 100%);
//   }
// }

.title-main {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: toRem(30);
  word-wrap: break-word;
  @include adaptiveValue("font-size", 144, 100,2,1440.98,389.98);
  
  @media (max-width: toEm(389.98)) and (min-width: toEm(360.98)) {
      font-size: toRem(90);
  }
  @media (max-width: toEm(360.98)){
      font-size: toRem(75);
  }
}

.sec-org {
  background-color: $orange;
  h2 {
    color: #fff;
  }
}
.sec-prp {
  background-color: $purple;
  h2 {
    color: #fff;
  }
}
.sec-wht {
  background-color: #fff;
  h2 {
    color: $purple;
  }
}
.clr-pr {
  color: $purple
}
.clr-wht {
  color: #fff;
}

.btn {
  display: grid;
  place-items: center;
  width: 100%;
  font-size: toRem(18);
  font-weight: 500;
  padding: toRem(5) toRem(10);
  transition: background-color .3s ease, box-shadow .3s ease;
  @include adaptiveValue("min-height", 60, 70,0,768.98,480.98);
  &--one {
    background-color: $yellow;
    box-shadow: 0 0 22px 0 rgba(252, 241, 24, 0.6);
    @media (any-hover: hover){
      &:hover{
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(252, 241, 24, 0.3);
      }
    }
  }
}


.breadcrumb {
  position: relative;
  z-index: 2;
  min-height: toRem(60);
  padding: toRem(15) 0;
  display: flex;
  align-items: center;
  border-bottom: toRem(1) solid rgba(0,0,0,0.1);
  .articles & {
    border-color: rgba(255,255,255,.2);
  }
  @media (min-width:$mobileSmall){
    margin-top: toRem(100);
  }
  @media (max-width:$mobileSmall){
    margin-top: toRem(70);
  }
  // .breadcrumb__list
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  // .breadcrumb__item
  &__item {
    font-weight: 500;
    font-size: toRem(16);
    color: rgba(0,0,0,0.3);
    .articles & {
      color: rgba(255,255,255,.2);
    }
    a {
      transition: color .3s ease;
      @media (any-hover: hover){
        &:hover{
          color: #000;  
          .articles & {
            color: rgba(255,255,255,1);
          } 
        }
      }

    }
    &:first-child {
      display: flex;
      align-items: center;
      width: fit-content;
      a {
        width: toRem(30);
        aspect-ratio: 1/1;
        display: grid;
        place-items: center;
        border-radius: toRem(3);
        transition: background-color .3s ease;
        @media (any-hover: hover){
          &:hover{
            background-color: rgba(0,0,0,0.2);
            svg {
              path {
                fill: rgba(0,0,0,1);
                .articles & {
                  fill: rgba(255,255,255,1);
                }
              }
            }
            .articles & {
              background-color: rgba(255,255,255,0.2);
            }
          }
        }
        svg {
          path {
            fill: rgba(0,0,0,0.7);
            transition: fill .3s ease;
            .articles & {
              fill: rgba(255,255,255,.5);
            }
          }
        }
      }
    }

    &:not(:last-child) {
      &::after {
        content:'';
        margin-left: 5px;
        background-image: url('../img/icons/arr-bread.svg');
        background-repeat: no-repeat;
        background-size:contain;
        width: toRem(10);
        height: toRem(12);
        .articles & {
          background-image: url('../img/icons/arr-bread-fff.svg');
          opacity: .7;
        }
      }
    }
  }
}


.head-art {
  position: relative;
  padding-bottom: toRem(40);
  overflow: hidden;
  &::before {
    content:'';
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(33, 0, 32, 0.3);
  }
  // .head-art__bg
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  // .head-art__container
  &__container {
    position: relative;
    z-index: 2;
    margin-top: toRem(30);
  }
  // .head-art__title
  &__title {
  }
}


