.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $purple;
  @media (min-width:$mobileSmall){
    padding-top: toRem(20);
    padding-bottom: toRem(20);
  }
  @media (max-width:$mobileSmall){
    padding-top: toRem(10);
    padding-bottom: toRem(10);
  }
  &.home-header {
    position: absolute;
    background-color: transparent;
  }
  // .header__wrapper
  &__wrapper {
    position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
    

    width: 100%;
    padding-left: toRem(20);
    padding-right: toRem(20);
    margin-inline: auto;
    @include adaptiveValue("max-width", 1870, 1440,0,1920,1440.98);
  }
  // .header__icon
	&__icon {

	}
  // .header__logo
  &__logo {
    z-index: 5;
    img {
      height: auto;
      @include adaptiveValue("width", 200, 167);
    }
    @media (min-width:$mobile){
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    @media (max-width:$mobile){
       position: relative; 
    }
  }
  // .header__contacts
  &__contacts {
    position: relative;
    z-index: 5;
    @media (min-width:$mobileSmall){
      max-width: toRem(227);
    }
  }
  // .header__menu
  &__menu {
  }
}

.menu {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0;
  overflow: auto;

  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  background: rgba(90, 0, 88, 0.4);

  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
  
  padding-top: toRem(120);
  @include adaptiveValue("padding-left", 100, 20,0,1440,480.98);
  @include adaptiveValue("padding-right", 100, 20,0,1440,480.98);
  @include adaptiveValue("padding-bottom", 100, 20,0,1440,480.98);
  @media (min-width:toEm(820.98)){
    background-image: url('../img/bgs/man-hi-menu.png');
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: 90% bottom;
  }
  @media (orientation: portrait) and (max-width: toEm(1024.98)) {
    background-image: none;
  }
  @media (max-width:$mobile){
     display: flex;
     flex-direction: column;
     justify-content: space-between; 
  }
  .menu-open & {
    opacity: 1;
    pointer-events: all;
  }

  // .menu__list
  &__list {
    width: 100%;
    @media (min-width:toEm(1500.98)){
      padding: 0 70px;
    }
    @media (min-width:$mobile){
      max-width: toRem(1830);
      margin-inline: auto;
    }
    @media (max-width:$mobileSmall){
       margin-bottom: toRem(40); 
    }
  }
  // .menu__item
  &__item {
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
    &:nth-child(1) {
      .menu__link-wr {
        .menu-open & {
          transition-delay: 0.2s;
        }
      }
    }
    &:nth-child(2) {
      .menu__link-wr {
        .menu-open & {
          transition-delay: 0.23s;
        }
      }
    }
    &:nth-child(3) {
      .menu__link-wr {
        .menu-open & {
          transition-delay: 0.26s;
        }
      }
    }
    &:nth-child(4) {
      .menu__link-wr {
        .menu-open & {
          transition-delay: 0.29s;
        }
      }
    }
    &:nth-child(5) {
      .menu__link-wr {
        .menu-open & {
          transition-delay: 0.32s;
        }
      }
    }
    &:nth-child(6) {
      .menu__link-wr {
        .menu-open & {
          transition-delay: 0.35s;
        }
      }
    }
    &:nth-child(7) {
      .menu__link-wr {
        .menu-open & {
          transition-delay: 0.39s;
        }
      }
    }
  }
	// .menu__link-wr
	&__link-wr {
    transform: translate(0,100%);
    transition: transform .35s ease 0s, color .3s ease 0s;
    .menu-open & {
      transform: translate(0,0);
    }
	}
  // .menu__link
  &__link {
    position: relative;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    transition: transform .3s ease 0s, color .3s ease 0s;
    @include adaptiveValue("font-size", 130, 96,2,1920,1440.98);
    @include adaptiveValue("font-size", 96, 76,3,1440.98,480.98);
    @media (min-width:$mobileSmall){
      &:before {
        content:'';
        position: absolute;
        top: 50%;
        left: toRem(-45);
        background-image: url('../img/icons/arr-menu.svg');
        background-repeat: no-repeat;
        background-size:contain;
        width: toRem(30);
        height: toRem(33);
        opacity: 0;
        transition: opacity .3s ease;
      }
    }
 
    @media (any-hover: hover){
      &:hover{
        transform: translate(50px,0);
        color: $yellow;
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.icon-menu {
  position: relative;
  z-index: 5;
  background-color: $orange;
  box-shadow: 0 0 22px 0 rgba(255, 141, 58, 0.8);
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  @include adaptiveValue("width", 60, 50);
  // .icon-menu__item
  &__item {
    display: block;
		position: relative;
		width: toRem(24);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
      width: 67%;
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
  }
}

//Burger Icon
.icon-menu {
		
}
