
// == HERO SECTION ======================================
.hero {
  position: relative;
  min-height: 100svh;
  overflow: hidden;
  // .hero__wrapper
  &__wrapper {
    position:relative;
    min-height: 100svh;
  }
		// .hero__bg
		&__bg {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
		}
 
		// .hero__video
		&__video {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      min-height: 100svh;
      &.video-hero-pc {
        @media (max-width: toRem(650.98)){
            display: none;
        }
      }
      &.video-hero-mb {
        @media (min-width:toRem(650.98)){
            display: none;
        }
      }
		}
		// .hero__container
		&__container {
      width: 100%;

      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translate(-50%,0);
      display: flex;
      justify-content: center;
      @media (min-width:$mobile){
      }
      @media (max-width:$mobile) and (min-width: toEm(650.98)) {  
        // bottom: -3vw;
      }
      @media (min-width:toEm(650.98)){
        bottom: 3vw;
      }
      @media (max-width: toEm(650.98)){
        bottom: 0;
        padding-bottom: toRem(20);
        flex-direction: column;
        row-gap: toRem(20);
      }
		}
    // .hero__about
    &__about {
      background-color: $purple;
      width: 100%;
      max-width: toRem(420);
      text-align: center;
      @media (max-width: toEm(768.98)){
          max-width: 100%;
      }
      @media (min-width:$mobileSmall){
        padding: toRem(20) toRem(24);
      }
      @media (max-width:$mobileSmall){
        padding: toRem(20);          
      }
      p {
        color: #fff;
        font-weight: 500;
        font-size: toRem(22);
      }
    }
    // .hero__phone
    &__phone {
      @media (min-width:toEm(650.98)){
          display: none !important;
      }
    }
}


// == WHAT SECTION ======================================
.what {
  @include adaptiveValue("padding-top", 230, 200,2,1440,768.98);
  @include adaptiveValue("padding-bottom", 230, 95);
  @media (min-width:$mobile){
    clip-path: polygon(20% 130px, 80% 130px, 100% 0, 100% 87%, 0 100%, 0 0);
    margin-top: toRem(-130);
  }
  @media (max-width:$mobile){
    padding-top: toRem(60);
    margin-top: toRem(-2);
  }
  // @extend %sectionPddTB;
  // .what__container
  &__container {
  }
  // .what__title
  &__title {
  }
  // .what__items
  &__items {
    display: grid;
    column-gap: toRem(60);
    @include adaptiveValue("row-gap", 30, 20);
    @media (min-width:toEm(750.98)){
      grid-template-columns: 1fr 1fr;
    }
    &._watcher-view {
      .what__icon {
        opacity: 1;
        @include adaptiveValue("width", 100, 80);
        @include adaptiveValue("height", 100, 80);
        img {
          opacity: 1;
        }
      }
      .what__item {
        p {
          span {
            transform: translateY(0);
          }
        }
      }
    }
  }
  // .what__item
  &__item {
    display: grid;
    align-items: center;
    gap: toRem(20);
    grid-template-columns: 100px 1fr;

    color: #fff;
    font-weight: 500;
    @include adaptiveValue("font-size", 22, 18);
    @include adaptiveValue("min-height", 100, 80);
    &:nth-child(1) {
      .what__icon, p span {
        transition-delay: 0.0s;
      }
    }
    &:nth-child(2) {
      .what__icon, p span {
        transition-delay: 0.1s;
      }
    }
    &:nth-child(3) {
      .what__icon, p span {
        transition-delay: 0.2s;
      }
    }
    &:nth-child(4) {
      .what__icon, p span {
        transition-delay: 0.3s;
      }
    }
    &:nth-child(5) {
      .what__icon, p span {
        transition-delay: 0.4s;
      }
    }
    &:nth-child(6) {
      .what__icon, p span {
        transition-delay: 0.5s;
      }
    }
    &:nth-child(7) {
      .what__icon, p span {
        transition-delay: 0.6s;
      }
    }
    &:nth-child(8) {
      .what__icon, p span {
        transition-delay: 0.7s;
      }
    }

      p {
        overflow: hidden;
        span {
          display: inline-block;
          transition: transform .65s cubic-bezier(.22,.89,.34,.96);
          transform: translateY(100%);
        }
      }
  }
  // .what__icon
  &__icon {
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px 0 rgba(134, 16, 131, 0.35);
    background-color: $purple;
    aspect-ratio: 1/1;

    width: 0;
    height: 0;
    opacity: 0;
    transform-origin: top left;
    transition: width .65s cubic-bezier(.22,.89,.34,.96), height .65s cubic-bezier(.22,.89,.34,.96), opacity .4s ease;
    @include adaptiveValue("padding", 20, 13);
    
    img {
      width: 100%;
      height: auto;
      opacity: 0;
      transition: opacity .1s ease;
    }    
  }
}


// == ADVANTAGES SECTION ======================================
.advantages {
  @extend %sectionPddTB;
  // @extend %left-Right-up;
  // .advantages__container
  &__container {
  }
  // .advantages__title
  &__title {
  }
  // .advantages__items
  &__items {
    display: grid;
    @include adaptiveValue("gap", 40, 30,2,1440.98,480.98);
    @include adaptiveValue("gap", 30, 20,3,480.98,320);
    @media (min-width:toEm(650.98)){
      grid-template-columns: repeat(4,1fr);
    }
    @media (max-width:toEm(650.98)){
      grid-template-columns: repeat(2,1fr);
    }

    &._watcher-view {
      .advantages__item {
        .advantages__icon {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        p {
          opacity: 1;
        }
      }

    }
  }
  // .advantages__item
  &__item {
    font-weight: 500;
    @include adaptiveValue("font-size", 18, 16);
    p {
      opacity: 0;
      transition: opacity .65s ease;
    }
    &:nth-child(1) {
      .advantages__icon, p {
        transition-delay: 0.0s;
      }
    }
    &:nth-child(2) {
      .advantages__icon, p {
        transition-delay: 0.1s;
      }
    }
    &:nth-child(3) {
      .advantages__icon, p {
        transition-delay: 0.2s;
      }
    }
    &:nth-child(4) {
      .advantages__icon, p {
        transition-delay: 0.3s;
      }
    }
    &:nth-child(5) {
      .advantages__icon, p {
        transition-delay: 0.4s;
      }
    }
    &:nth-child(6) {
      .advantages__icon, p {
        transition-delay: 0.5s;
      }
    }
    &:nth-child(7) {
      .advantages__icon, p {
        transition-delay: 0.6s;
      }
    }
    &:nth-child(8) {
      .advantages__icon, p {
        transition-delay: 0.7s;
      }
    }
  }
  // .advantages__icon
  &__icon {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
    transition: clip-path .65s ease;


    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px 0 rgba(134, 16, 131, 0.35);
    background-color: $purple;
    aspect-ratio: 1/1;
    @include adaptiveValue("margin-bottom", 20, 16);
    img {
      width: 100%;
      height: auto;
      max-width: 50%;
    }   
    @media (max-width: toEm(650.98)){
        max-width: 50%;
    }
  }
}


// == INFLUENCERS SECTION ======================================
.influencers {
  @extend %sectionPddTB;
  // @extend %left-Right-dwn;
  // .influencers__container
  &__container {
  }
  // .influencers__title
  &__title {
    overflow: hidden;
    span {
      display: inline-block;
    }
  }
  // .influencers__list
  &__list {
    display: grid;
    margin-bottom: toRem(30);
    @media (min-width:toEm(750.98)){
      grid-template-columns: repeat(4,1fr);
    }
    @media (max-width:toEm(750.98)) and (min-width:toEm(550.98)) {
      grid-template-columns: repeat(3,1fr);
    }
    @media (max-width: toEm(550.98)){
      grid-template-columns: repeat(2,1fr);
    }
    @media (min-width:$mobileSmall){
      gap: toRem(22);
    }
    @media (max-width:$mobileSmall){
      gap: toRem(18);
    }
  }
  // .influencers__item
  &__item {
    overflow: hidden;
    &._watcher-view {
      .influencers__wr {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    @media (min-width:toEm(750.98)){
      &:nth-child(1),
      &:nth-child(4n+5) {
        .influencers__wr {
          transition-delay: 0.0s;
        }
      }
      &:nth-child(2),
      &:nth-child(4n+6) {
        .influencers__wr {
          transition-delay: 0.1s;
        }
      }
      &:nth-child(3),
      &:nth-child(4n+7) {
        .influencers__wr {
          transition-delay: 0.2s;
        }
      }
      &:nth-child(4),
      &:nth-child(4n+8) {
        .influencers__wr {
          transition-delay: 0.3s;
        }
      } 
    }
    @media (max-width:toEm(750.98)) and (min-width:toEm(550.98)) {
      &:nth-child(1),
      &:nth-child(3n+4) {
        .influencers__wr {
          transition-delay: 0.0s;
        }
      }
      &:nth-child(2),
      &:nth-child(3n+5) {
        .influencers__wr {
          transition-delay: 0.1s;
        }
      }
      &:nth-child(3),
      &:nth-child(3n+6) {
        .influencers__wr {
          transition-delay: 0.2s;
        }
      }
    }
    @media (max-width: toEm(550.98)){
      &:nth-child(1),
      &:nth-child(2n+3) {
        .influencers__wr {
          transition-delay: 0.0s;
        }
      }
      &:nth-child(2),
      &:nth-child(2n+4) {
        .influencers__wr {
          transition-delay: 0.1s;
        }
      }
    }
  }
	// .influencers__wr
	&__wr {
    display: flex;
    flex-direction: column;
    height: 100%;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    transition: clip-path .45s ease;
	}
	// .influencers__avatar
	&__avatar {
    aspect-ratio: 200/233;
    @extend %avatarTransition;
	}
  // .influencers__body
  &__body {
    flex: 1;
    background-color:#fff;
    @extend %cardBody;
  }
	// .influencers__title-item
	&__title-item {
    margin-bottom: toRem(4);
    @extend %cardTitle;
	}
  // .influencers__name
  &__name {
    @extend %cardName;
  }
  // .influencers__links
  &__links {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: toRem(7);
    @media (min-width:$mobileSmall){
      max-width: toRem(134);
    }
  }
  // .influencers__link
  &__link {
    display: grid;
    place-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    background-color:$purple;
    transition: background-color .3s ease;
    @include adaptiveValue("margin-top", 16, 13);
    @media (min-width:$mobileSmall){
      max-width: toRem(40);
    }
    img {
      width: 100%;
      max-width: 67%;
      height: auto;
    }
    @media (any-hover: hover){
      &:hover{
        background-color:$orange;
      }
    }
  }
  // .influencers__more
  &__more {
    @media (min-width: toEm(550.98)){
      display: grid;
      grid-template-columns: repeat(4,1fr);
    }
  }
	// .influencers__btn
	&__btn {
    @media (min-width: toEm(550.98)){
      grid-column: 2/4;
    }
	}
}

%avatarTransition {
  transition: transform .5s ease;
  @media (any-hover: hover){
    &:hover{
      transform: scale(1.1);
    }
  }
}

%cardBody {
  margin-top: toRem(-36);
  @include adaptiveValue("padding", 16, 12);
  @media (min-width:$mobileSmall){
    clip-path: polygon(66% 0, 66% 34px, 100% 0, 100% 100%, 0 100%, 0 0);
  }
  @media (max-width:$mobileSmall){
    clip-path: polygon(66% 0, 66% 26px, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
%cardTitle {
  font-weight: 900;
  color: $orange;
  @include adaptiveValue("font-size", 30, 24);
}
%cardName {
  font-weight: 500;
  opacity: .7;
  @include adaptiveValue("font-size", 18, 16);
}

// == PARTNERS SECTION ======================================
.partners {
  @extend %sectionPddTB;
  // .partners__container
  &__container {
  }
  // .partners__title
  &__title {
  }
  // .partners__list
  &__list {
    display: grid;
    gap: toRem(19);
    @media (min-width:$mobileSmall){
      grid-template-columns: repeat(4,1fr);
    }
    @media (max-width:$mobileSmall){
      grid-template-columns: repeat(2,1fr);
    }
  }
  // .partners__item
  &__item {
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.1);

    opacity: 0;
    transform: translateY(50%);
    transition: transform .65s ease, opacity .3s ease;

    img {
      height: auto;
      width: 100%;
      max-width: 60%;
    }
    &._watcher-view {
      opacity: 1;
      transform: translateY(0%);
    }
    
    @media (min-width:$mobileSmall){
       &:nth-child(1),
       &:nth-child(4n+5) {
        transition-delay: 0.0s;
       } 
       &:nth-child(2),
       &:nth-child(4n+6) {
        transition-delay: 0.08s;
       } 
       &:nth-child(3),
       &:nth-child(4n+7) {
        transition-delay: 0.16s;
       } 
       &:nth-child(4),
       &:nth-child(4n+8) {
        transition-delay: 0.24s;
       } 
    }
    @media (max-width:$mobileSmall){
        
    }
  }
}

// == TEAM SECTION ======================================
.team {
  @extend %sectionPddTB;
  // .team__container
  &__container {
  }
  // .team__title
  &__title {
  }
  // .team__list
  &__list {
    display: grid;
    gap: toRem(19);
    @media (min-width:toEm(600.98)){
      grid-template-columns: repeat(4,1fr);
    }
    @media (max-width:toEm(600.98)){
      grid-template-columns: repeat(2,1fr);
    }
  }
  // .team__item
  &__item {
    display: flex;
    flex-direction: column;
  }
  // .team__img
  &__img {
    overflow: hidden;
    img {
      @extend %avatarTransition;
    }
  }
  // .team__body
  &__body {
    flex: 1;
    background-color: $purple;
    @extend %cardBody;
  }
  // .team__name
  &__name {
    margin-bottom: toRem(10);
    @extend %cardTitle;
  }
  // .team__position
  &__position {
    color: #fff;
    @extend %cardName;
  }
} 


// == BLOG SECTION ======================================
.blog {
  @extend %sectionPddTB;
  // @extend %left-Right-dwn;
  // .blog__container
  &__container {
  }
  // .blog__title
  &__title {
    .blog-article & {
      @media (max-width:$mobileSmall){
         font-size: toRem(80) !important; 
      }
    }
  }
  // .blog__slider
  &__slider {
    overflow: visible !important;
    margin-bottom: toRem(30);
    .swiper-scrollbar {
      height: toRem(3);
      background-color: rgba(255, 255, 255, 0.2);
      cursor: grab;
      .swiper-scrollbar-drag {
        height: 100%;
        box-shadow: 0 4px 8px 0 #ff9446;
        background: #ff8b35;
      }
    }
    &._watcher-view {
      .blog__slide {
        opacity: 1;
      }
    }
  }
  // .blog__wrapper
  &__wrapper {
    margin-bottom: toRem(20);
  }
  // .blog__slide
  &__slide {
    opacity: 0;
    transition: opacity .65s ease;
    &:nth-child(1) {
      transition-delay: 0.0s;
    }
    &:nth-child(2) {
      transition-delay: 0.1s;
    }
    &:nth-child(3) {
      transition-delay: 0.2s;
    }
    &:nth-child(4) {
      transition-delay: 0.3s;
    }
    &:nth-child(5) {
      transition-delay: 0.4s;
    }
    &:nth-child(6) {
      transition-delay: 0.5s;
    }
    &:nth-child(7) {
      transition-delay: 0.6s;
    }
  }
}

.item-blog {
  padding: toRem(16);
  background-color:#fff;
  box-shadow: 0 0 10px 0 rgba(115, 0, 112, 0.15);
  transition: box-shadow .3s ease;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  @media (any-hover: hover){
    &:hover{
      // box-shadow: 0 5px 30px 0 rgba(115, 0, 112, 0.25);
      box-shadow: 0 5px 40px 0 rgba(79, 0, 76, 0.5);
      .articles & {
        box-shadow: 0 5px 30px 0 rgba(115, 0, 112, 0.25);
      }
    }
  }
  // .item-blog__img
  &__img {
    img {
      aspect-ratio: 328/200;
    }
  }
  // .item-blog__body
  &__body {
    flex: 1;
    padding-top: toRem(10);
    display: flex;
    flex-direction: column;
    @media (any-hover: hover){
      &:hover{
        .item-blog__title {
          color: $purple;
        }
        .item-blog__more {
          opacity: 1;
          text-decoration: underline;
        }
      }
    }
  }
  // .item-blog__title
  &__title {
    font-weight: 900;
    font-size: toRem(30);
    transition: color .3s ease;
    margin-bottom: toRem(10);
  }
  // .item-blog__info
  &__info {
    flex: 1;
    font-size: toRem(18);
    font-weight: 500;
    color: #5D5D5D;
    margin-bottom: toRem(20);

    p {
      overflow: hidden;
      -webkit-line-clamp: 3;
      display: box;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }
  // .item-blog__footer
  &__footer {
    font-weight: 500;
    font-size: toRem(15);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .item-blog__time
  &__time {
    opacity: .3;
  }
  // .item-blog__more
  &__more {
    color: $purple;
    opacity: .4;
    transition: opacity .3s ease;
  }
}


// == CASES SECTION ======================================
.cases {
  // .cases__container
  &__container {
  }
  // .cases__title
  &__title {
  }
  // .cases__list
  &__list {
    display: grid;
    @media (min-width:$tablet){
      grid-template-columns: repeat(4,1fr);
    }
    @media (max-width:$tablet) and (min-width: toEm(550.98)) {
      grid-template-columns: repeat(2,1fr);
    }
  }
  // .cases__item
  &__item {
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    height: max-content;
    overflow: hidden;
    cursor: pointer;
    @media (min-width:$mobileSmall){
      transform: scale(0);
      transition: transform .65s ease;
    }
    @media (max-width:$mobileSmall){
      transform: scale(0.2);
      transition: transform .35s ease;       
    }
    &::before {
      content:'';
      position: absolute;
      inset: 0;
      background-image: radial-gradient(50% 50% at 50% 50%, rgb(105, 25, 103) 0%, rgb(58, 4, 56) 100%);
      opacity: 0;
      transition: opacity .3s ease;
    }
    img {
      aspect-ratio: 1/1;
    }
    &:hover{
      &::before {
        opacity: .7;
      }
      .cases__sub-title,
      .cases__txt {
        span {
          transform: translateY(0%);
        }
      }
      .cases__txt {
        transition-delay: .1s;
      }
    }

 
    &._watcher-view {
      transform: scale(1);
    }
    @media (min-width:$tablet){
      &:nth-child(1) {
        transition-delay: 0.15s;
      }
      &:nth-child(2) {
        transition-delay: 0.0s;
      }
      &:nth-child(3) {
        transition-delay: 0.15s;
      }
      &:nth-child(4) {
        transition-delay: 0.05s;
      }
    }
    @media (max-width:$tablet) and (min-width: toEm(550.98)) {
    }
    @media (max-width: toEm(550.98)){
        
    }
  }
	// .cases__wr
	&__wr {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 67%;
    text-align: center;
	}
  &__sub-title,
  &__txt {
    overflow: hidden;
    span {
      transform: translateY(100%);
      transition: transform .35s ease, opacity .3s ease;
      display: inline-block;
    }
  }
  // .cases__sub-title
  &__sub-title {
    font-weight: 900;
    font-size: toRem(30);
    color: $yellow;
    margin-bottom: toRem(20);
  }
  // .cases__txt
  &__txt {
    font-weight: 500;
    font-size: toRem(18);
    color: rgba(255, 255, 255, 0.7);
  }
	// .cases__footer
	&__footer {
    @media (max-width: toEm(550.98)){
      background-color: $purple;
      padding: toRem(20);
    }
	}
}


[data-showmore-button] {
  @media (min-width:toEm(550.98)){
     display: none; 
  }
	span {
		&:last-child {
			display: none;
		}
		._showmore-active & {
			display: none;
			&:last-child {
				display: block;
			}
		}
	}
}



// == ARTICLES ======================================
.articles {
  // .articles__head
  &__head {
  }
  // .articles__container
  &__container {
    @include adaptiveValue("margin-top", 100, 20);
    @include adaptiveValue("margin-bottom", 100, 60);
    
  }
  	// .articles__body
	&__body {
    display: grid;
    gap: toRem(20);
    margin-bottom: toRem(30);
    @media (min-width:$mobileSmall){
      grid-template-columns: repeat(2,1fr);
    }
	}
}



.pagination {
  display: flex;
  justify-content: center;
  // .pagination__body
  &__body {
    display: flex;
    align-items: center;
    gap: toRem(10);
  }

  &__button,
  &__link {
    width: toRem(40);
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;

    transition: background-color .3s ease;
    @media (any-hover: hover){
      &:hover{
        background-color:  rgba(134, 16, 131, 0.1);
      }
    }
  }
  // .pagination__button
  &__button {
  }
  // .pagination__items
  &__items {
    display: flex;
    align-items: center;
    gap: toRem(10);
  }
  // .pagination__item
  &__item {
    font-size: toRem(20);
    font-weight: 500;
  }
  // .pagination__link
  &__link {
    padding-bottom: toRem(4);
    &.active {
      background-color: $purple;
      color: #fff;
    }
  }
  // .pagination__blank
  &__blank {
  }
}

.pagination__button[disabled] {
  opacity: .3;
  pointer-events: none;
}


.article {
  // .article__container
  &__container {
    @include adaptiveValue("margin-top", 50, 20);
    @include adaptiveValue("padding-bottom", 230, 95);
  }
  // .article__head
  &__head {
  }
  // .article__body
  &__body {
    h1,h2,h3,h4,h5,h6 {
      font-weight: 900;
      color: $purple;
      @include adaptiveValue("margin-top", 50, 40);
      @include adaptiveValue("margin-bottom", 30, 20);
    }
    h1 {
      @include adaptiveValue("font-size", 80, 60);
    }
    h2 {
      @include adaptiveValue("font-size", 64, 48);
    }
    h3 {
      @include adaptiveValue("font-size", 50, 36);
    }
    h4 {
      @include adaptiveValue("font-size", 28, 24);
    }
    h5 {
      @include adaptiveValue("font-size", 22, 20);
    }
    h6 {
      @include adaptiveValue("font-size", 18, 16);
    }
    h4,h5,h6 {
      font-weight: 700;
    }
    p,ul,ol {
      margin-top: toRem(20);
      margin-bottom: toRem(20);
    }
    p,li,figcaption {
      color: #8B8B8B;
      font-weight: 500;
      @include adaptiveValue("font-size", 18, 16);
    }
    ul,ol {
      @media (min-width:$mobileSmall){
        max-width: 77%;
      }
    }
    li {
      &:not(:last-child) {
        margin-bottom: toRem(16);
      }
    }
    ul {
      li {
        position: relative;
        @include adaptiveValue("padding-left", 20, 18);
        &:before {
          content:'';
          position: absolute;
          top: toRem(6);
          left: 0;
          aspect-ratio: 1/1;
          background-color: $purple;
          @include adaptiveValue("width", 10, 8);
        }
      }
    }
    ol {
      list-style-type: none;
      counter-reset: item;
      li {
        position: relative;
        @include adaptiveValue("padding-left", 32, 30);
        &:before {
          counter-increment: item;
          content: counter(item);
          position: absolute;
          top: 0;
          left: 0;
          background-color: $purple;

          display: grid;
          place-items: center;
          color: #fff;
          aspect-ratio: 1/1;
          font-weight: 500;
          padding-bottom: toRem(1);
          @include adaptiveValue("font-size", 16, 14);
          @include adaptiveValue("width", 22, 20);
        }
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    figure {
      margin-top: toRem(30);
      margin-bottom: toRem(30);
      img {
        margin-bottom: toRem(10);
      }
      figcaption {
        text-align: center;
      }
    }
  }
}

.head-article {
  @include adaptiveValue("margin-bottom", 30, 20);
  img {
    aspect-ratio: 840/490;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }
  // .head-article__btm
  &__btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: toRem(15);
    opacity: .3;
  }
}


// == CONTACTS PAGE =======================================
.contacts {
  // .contacts__container
  &__container {
    @include adaptiveValue("padding-top", 60, 20);
    @include adaptiveValue("padding-bottom", 100, 20);
  }
	// .contacts__body
	&__body {
    display: grid;
    @include adaptiveValue("gap", 60, 40);
    @include adaptiveValue("margin-bottom", 100, 40);
    @media (min-width:$mobile){
      grid-template-columns: 1fr 1fr;
    }
	}
  // .contacts__info
  &__info {
    display: flex;
    flex-direction: column;
  }
  // .contacts__title
  &__title {
    font-weight: 900;
    font-size: toRem(100);
    word-wrap: break-word;
    text-transform: uppercase;
    color: $purple;
    margin-bottom: toRem(30);
  }
  // .contacts__schedule
  &__schedule {
    flex: 1;
    font-weight: 500;
    font-size: toRem(20);
    margin-bottom: toRem(40);
    P {
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }
  // .contacts__address
  &__address {

  }
  // .contacts__link
  &__link {
    font-weight: 500;
    font-size: toRem(28);
    display: block;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 36px 36px;
    padding-left: toRem(50);
    transition: color .3s ease;
    &:not(:last-child) {
      margin-bottom: toRem(14);
    }
    @media (any-hover: hover){
      &:hover{
        color: $purple;
      }
    }
    &.loc {
      background-image: url(../img/icons/location.svg);
    }
    &.tel {
      background-image: url(../img/icons/phone.svg);
    }
  }
  // .contacts__map
  &__map {
    @media (min-width:$mobile){
      padding-top: toRem(25);
    }
    iframe {
      aspect-ratio: 1/1;
      @media (max-width:$mobile) and (min-width: toEm(550.98)) {
          aspect-ratio: 16/9;
      }
    }
  }
  // .contacts__form
  &__form {
  }
}

.form-contacts {
  position: relative;
  background-color:$purple;
  @include adaptiveValue("padding", 60, 20);
  &._form-sent {

  }
  // .form-contacts__title
  &__title {
    font-weight: 900;
    font-size: toRem(50);
    color: #fff;
    @include adaptiveValue("margin-bottom", 20, 10);
  }
  // .form-contacts__info
  &__info {
    font-weight: 500;
    color: #fff;
    @include adaptiveValue("font-size", 20, 16);
    @include adaptiveValue("margin-bottom", 30, 20);
  }
  // .form-contacts__form
  &__form {
    display: grid;
    @include adaptiveValue("gap", 16, 10);
    &._sending {
      .form-contacts__send {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
  // .form-contacts__items
  &__items {
    display: grid;
    @include adaptiveValue("gap", 16, 10);
    @media (min-width:$mobileSmall){
      grid-template-columns: 1fr 1fr;
    }
  }
  // .form-contacts__item
  &__item {
  }
  // .form-contacts__send
  &__send {
    box-shadow: 0 5px 10px 0 #730070 !important;
  }
  // .form-contacts__msg
  &__msg {
  }
}

.msg-form {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:$purple;
  display: grid;
  place-items: center;
  
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s ease;
  
  @include adaptiveValue("padding", 60, 20);
  ._form-sent & {
    opacity: 1;
    pointer-events: all;
  }
	// .msg-form__body
	&__body {
    color: #fff;
    width: 100%;
	}
	// .msg-form__svg
	&__svg {
    aspect-ratio: 1/1;
    @include adaptiveValue("width", 80, 60);
    @include adaptiveValue("margin-bottom", 40, 30);
	}
	// .msg-form__title
	&__title {
    font-weight: 900;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 100, 70);
    @include adaptiveValue("margin-bottom", 30, 20);
	}
	// .msg-form__txt
	&__txt {
    font-weight: 500;
    @include adaptiveValue("font-size", 30, 20);
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
	}
}
